.archives {
  text-align: center;

  ul {
    list-style: none;
    margin:     0px 0px 3.181em;
    padding:    0px;

    li { margin: 0px 0px 1em; }

    .post-info, .post-info * {
      margin: 0px;
    }
  }
}
