@media only screen and (max-width: 479px) {
  #header > h1 > a {
    background-image: url(asset_path('ixti.gif'));
    display: inline-block;
    height: 120px;
    margin: 0px auto;
    width: 300px;

    span {
      display: none;
    }
  }
}
