.archives {
  text-align: center;

  ul {
    list-style: none;

    li {
      margin-bottom: 1em;
    }

    .post-info {
      margin: 0px;
    }
  }
}


#archives-nav {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
  padding: 0.5em 0px;
  margin: 1em 0px -0.8em;
  list-style: none;
  text-align: center;
  text-transform: uppercase;

  a {
    color: #555;
  }

  li {
    display: inline-block;
  }
}
