body {
  color:  #222;
  font:   1em/1.625 'Open Sans', sans-serif;
  margin: 50px auto;
  width:  960px;

  /* Stops Mobile Safari from auto-adjusting font-sizes */
  -webkit-text-size-adjust: 100%;
}


h1 {
  font-size: 68px;
  letter-spacing: -1px;
  line-height: 72px;
}


h2 {
  font-size: 32px;
  line-height: 38px;
}


h3 {
  font-size: 26px;
  line-height: 36px;
}


h4 {
  font-size: 22px;
  line-height: 30px;
}

a {
  color: #33c;
  text-decoration: underline;

  &:visited {
    color: #733;
  }

  &:hover {
    text-shadow: 0 0 2px #999;
  }
}


pre {
  overflow: auto;
  white-space: pre;
}


pre, .highlight pre {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 13px;
  line-height: 19px;
  padding: 6px 10px;
}


::selection         { background: rgb(50, 50, 50); color: rgb(200, 200, 200); }
::-moz-selection    { background: rgb(50, 50, 50); color: rgb(200, 200, 200); }
img::selection      { background: transparent; }
img::-moz-selection { background: transparent; }
