.post-info {
  font-size: 12px;
  line-height: 1.1em;
  color: #777;

  list-style: none;
  margin: 2em 0px;
  padding: 0px;

  font-style: italic;

  dt, dd {
    display: inline;
    margin: 0px;
  }

  dd:after {
    content: "";
    display: table;
  }

  a, a:visited {
    color: #777;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
